{% extends "users/base.html" %}

{% block content %}
  <h1>Title: {{ book_list.title }}</h1>

  <p><strong>Author:</strong>{{ book_list.author }}</p>
  <p><strong>Summary:</strong> {{ book_list.summary }}</p>
  <p><strong>ISBN:</strong> {{ book_list.isbn }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies = {{ book_list.total_copies }}</h4>
    {% if user.is_superuser %}
                <a class="btn btn-danger" href="">DELETE</a>
                <a class="btn btn-success" href="">Update</a>
    {% endif %}
    <a class="btn btn-success" href="">Rent Now</a>
  </div>
{% endblock %}