{% extends "users/base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h5><strong>{{ book_list.title }}</strong></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Author:</strong>{{ book_list.author }}</h5>
    <h5 class="card-title"><strong>Summary:</strong> {{ book_list.summary }}</h5>
    <h5 class="card-title"><strong>ISBN:</strong> {{ book_list.slug }}</h5>
    <h5 class="card-title"><strong>Rent:</strong> ₹{{ book_list.book_rent }} <h5 class="text-danger">(This rent is for 5 Hours)</h5></h5>
    <h5 class="text-danger">After 5 Hours penalty will be ₹5 per hour.</h5>
    <h5 class="card-title"><strong>Copies:</strong> {{ book_list.total_copies }}</h5>
    {% if user.is_superuser %}
      <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter1" data-whatever="@getbootstrap">DELETE</a>
      <a class="btn btn-success" href="{% url 'book-update' book_list.slug %}">Update</a>

    {% endif %}
    {% if request.user.is_authenticated %}
      {% if request.user not in book_list.rented_users.all %}
        {% if book_list.total_copies > 0 %}

          <a class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter" data-whatever="@getbootstrap">Rent Now</a>

        {% endif %}
      {% endif %}
    {% endif %}

  </div>
</div>

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Rent Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <div class="text-right">
            <a class="btn btn-success" href="{% url 'book-delete' %}">Confirm</a>
          </div>
        </div>
      </div>
  </div>
</div>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rent Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="form" action="{% url 'rent-book' %}">

              {% csrf_token %}
<!--              {{ form.as_p }}-->
              <div class="form-group">
                <label  class="col-form-label">user  :</label> <b>{{request.user.username}}</b>
                <input type="hidden" class="form-control" id="user" name="user" value={{request.user.id}} >
              </div>
              <div class="form-group">
                <label  class="col-form-label">Title :</label><b>{{book_list.title}}</b>
                <input type="hidden" class="form-control" id="book" name="book" value={{book_list.id}} >
              </div>
              <div class="form-group">
                <label  class="col-form-label">ISBN :</label><b>{{book_list.slug}}</b>
<!--                <input type="text" class="form-control" id="book_isbn" value={{book_list.slug}} >-->
              </div>
              <div class="form-group">
                <label  class="col-form-label">Rent :</label><b>{{book_list.book_rent}}</b>
<!--                <input type="text" class="form-control" id="book_rent" value={{book_list.book_rent}} >-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
<!--{{ room_name|json_script:"room-name" }}-->
  <script>
<!--  const user = document.getElementById("user");-->
<!--  const roomName1 = JSON.parse(document.getElementById('room-name').textContent);-->
<!--    const notificationSocket1 = new WebSocket(-->
<!--            'ws://'-->
<!--            + window.location.host-->
<!--            + '/ws/notification/'-->
<!--            + roomName1-->
<!--            + '/'-->
<!--        );-->
<!--  notificationSocket1.onopen = function(e) {-->
<!--      console.log("open")-->

<!--        notificationSocket.send(JSON.stringify({'message':'user'}));-->


<!--         };-->

<!--      notificationSocket1.onopen = function(e) {-->
<!--            alert("[open] Connection established");-->
<!--            alert("Sending to server");-->
<!--            notificationSocket1.send(JSON.stringify({'message':"dhruv"}));-->
<!--         };-->

  </script>
{% endblock %}