{% extends "users/base.html" %}

{% block content %}
    <center>

        <form class="form" id="searchform" action="" method="get">

          <div class="form-group">

            <input type="text" class="col-5  form-control-lg"  placeholder="enter book title or something " name="q" />

            <button type="button"  class="btn btn-success form-control-lg" onclick="">Search</button>

          </div>

        </form>

    </center>

    <h1 class="text-center mb-5">Rent Request List</h1>

    {% if rent_request %}
    <div class="container">
        <div class="row">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">User name</th>
                  <th scope="col">Book Name</th>
                  <th scope="col">Total Hours</th>
                  <th scope="col">Issue Time</th>
                  <th scope="col">Return Time</th>
                  <th scope="col">Total Rent</th>
                  <th scope="col">Return Book</th>
                  <th scope="col">Return Book Status</th>
                </tr>
              </thead>
                <tbody>
                {% for request in rent_request %}

                <tr>
                  <th scope="row">{{ request.id }}</th>
                  <td>{{ request.user }}</td>
                  <td>{{ request.book }}</td>
                  <td>{{ request.rent_hours }}</td>
                    {% if request.issue_time == None %}
                        <td>Pending</td>
                    {% else %}
                        <td>{{ request.issue_time }}</td>
                    {% endif %}

                    {% if request.return_time == None %}
                        <td>Pending</td>
                    {% else %}
                        <td>{{ request.return_time }}</td>
                    {% endif %}
                  <td>{{ request.total_rent }}</td>
                  <td>{{ request.status }}</td>
                  <td>
                      <form action="{% url 'return-bookupdate' request.id %}" id="form_id" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{ request.id }}" name="book_id">

                          {% if request.status == 'Not Approved' %}
                            <button type="submit" class="btn btn-primary btn-sm">Approve</button>
                          {% elif request.return_time != None %}
                            <button class="btn btn-danger btn-sm" disabled>Returned</button>
                          {% else %}
                            <button class="btn btn-success btn-sm" disabled>Approved</button>
                          {% endif %}

                      </form>
                      </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    {% else %}
      <p class=" bg bg-white">There are no books.</p>
    {% endif %}
{% endblock %}