{% extends "users/base.html" %}

{% block content %}

    <h1 class="text-center mb-5">Rented Book List</h1>

    {% if rented_book %}
    <div class="container">
        <div class="row">

          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">User name</th>
                  <th scope="col">Book Name</th>
                  <th scope="col">Total Hours</th>
                  <th scope="col">Issue Time</th>
                  <th scope="col">Return Time</th>
                  <th scope="col">Total Rent</th>
                  <th scope="col">Return Book</th>
                </tr>
              </thead>
              <tbody>
              {% for book in rented_book %}

                <tr>
                  <th scope="row">{{ book.id }}</th>
                  <td>{{ book.user }}</td>
                  <td>{{ book.book }}</td>
                  <td>{{ book.rent_hours }}</td>
                  <td>{{ book.issue_time | time:"H:i:s" }}</td>
                    {% if book.return_time == None %}
                        <td>Pending</td>
                    {% else %}
                        <td>{{ book.return_time | time:"H:i:s" }}</td>
                    {% endif %}

                  <td>{{ book.total_rent }}</td>
                  <td>
                      <form action="{% url 'return-book' book.id %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" value="{{ book.id }}" name="book_id">
                          <input type="hidden" value="{{ book.title }}" name="book_title">
                            {% if book.status != 'Returned' %}
                          <button type="submit" class="btn btn-primary btn-sm">Return</button>
                          {% endif %}
                      </form>
                      </td>
                </tr>

              {% endfor %}
              </tbody>
            </table>



        </div>
    </div>

    {% else %}
      <p class=" bg bg-white">There are no books.</p>
    {% endif %}       
{% endblock %}